:root{
    --main-color:#53af13;
    --main-bg-color:#111111;
}
body{
    background-color: var(--main-bg-color);
    margin: 0;
    min-width: 240px;
}

#board{
    position: relative;
    width: 1024px;
    height: 100vh;
    margin: auto;
    background: url("board.jpg") no-repeat;
}

div#messageArea {
    position: absolute;
    top: 20px;
    left: -100px;
    color: rgb(83, 175, 19);
}

table {
    position: absolute;
    left: 130px;/* left: 173px;*/
    top: 30px; /* top: 98px;*/
    border-spacing: 0px;
}

td {
    width: 70px;
    height: 70px;
    border: 1px solid  #53af13;
    color: #ffffff;
}
td.number{
    border: none;
    text-align: center;
    font-weight: normal;
    font-family: sans-serif;
    font-size: 20px;
    color: rgb(152, 207, 113);
}
form {
    position: absolute;
    bottom:150px;
    right: -50px;
    padding: 15px;
    background-color: rgb(83, 175, 19);

}

form input {
    background-color: rgb(152, 207, 113);
    border-color: rgb(83, 175, 19);
    font-size: 1em;

}

.hit {
    background: url("../assest/images/fish-fins.svg") no-repeat center center;
}

.miss {
    background: url("../assest/images/miss.svg") no-repeat center center;
}

.Loding {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: gray;
    color: white;
    text-align: center;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    z-index: 999;
}
.d-flex{
    display: flex;
}
