@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;600;700&display=swap');
:root{
  --main-color:#53af13;
  --main-bg-color:#111111;
}
.welcome{
  max-height: 100vh;
  padding: 0px 1.3rem;
  padding-top: 3rem;
  background-color: var(--main-bg-color);
  color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.5rem;
}
.startGame{
  opacity: 1;
  border: 1px solid var(--main-color);
  background-color: var(--main-bg-color);
  color: var(--main-color);
  font-weight: 500;
  font-size: medium;
  padding: 0.5rem 1.4rem;
  transition:all 1s;
  cursor: pointer;
}
.d-none{
  opacity: 0;
  user-select: none;
  pointer-events: none;
}
.radio_nanny{
  width: 80px;
  height: 80px;
}

.var-highlight{
  color: #C0AD60;
}

.string-highlight{
  color: rgba(253, 149, 90, 0.8);
}

#typewriter{
  font-size: 1.2rem;
  margin: 0;
  font-family: 'Kumbh Sans', sans-serif;
  transition: all 0.2s;
  max-width: 700px;
  text-wrap: wrap;
}
#typewriter::after{
  content: "|";
  animation: blink 500ms linear infinite alternate;
}
@-webkit-keyframes blink{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

@-moz-keyframes blink{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

@keyframes blink{
  0%{opacity: 0;}
  100%{opacity: 1;}
}
@media (max-width:620px) {
  #typewriter{
    font-size: 0.8rem;
    max-width: 400px;
  }
  .startGame{
    padding: 0.3rem 1rem;
  }
}